@import "val";

// @import "https://fonts.googleapis.com/css?family=Roboto:400,700";
/* Common Setting */
img {
    vertical-align: top;

    &.image {
        width: 100%;
    }
}

figure {
    margin: 0px;
}

html {
    font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;
    font-size: 62.5%;
    line-height: 1.7;
    color: #000;
}
body {
    // overflow: auto;
    // font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
    // color: #000;
    background: #eaebec;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: unset;
}
p {
    line-height: 1.6;
}
a {
    color: #000;
    text-decoration: underline;

    &:hover,
    &:active,
    &:focus {
        color: #000;
        text-decoration: none;
    }
}
strong {
    font-weight: bold;
}
.pc {
    display: block;

    @media only screen and (max-width: $breakpoint) {
        display: none;
    }
}

.sp {
    display: none;

    @media only screen and (max-width: $breakpoint) {
        display: block;
    }
}

@media only screen and (max-width: $breakpoint) {}

.fade-in {
    opacity: 0;

    &.in {
        opacity: 1;
        @include _anim-alpha-transform(2s);
    }
}
